/* 	Kyle Peterson
	These are the styles to be used with the Dawg Pizza site. All pages of 
	Dawg Pizza reference the styles used here */

@import url("reset.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,700|Roboto:400,700,400italic);

/* Styles for the entire site */
body {
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}

#content {
	width: 820px;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/* Header area of the web page */
header {
	background-color: rgb(156, 117, 202);
	margin: 50px 0 0 0;

}

a h1 {
	width: 100%;
	text-align: center;
	padding: 0;
	z-index: 20;	
	color: rgb(0, 8, 63);
	font-weight: bold;
	font-size: 2em;
	top: 148px;
	background-color: rgb(156, 117, 202);
	border-radius: 0 0 20px 20px;
	padding-bottom: 10px;
}

.leaf {
	width: 312px;
	text-align: center;
	font-weight: bold;
	font-size: 2.5em;
	padding-top:  10px;
	padding-bottom: 10px;
}

.logo, a h1 {
	width: 24%;
	height: auto;
	position: absolute;
	z-index: 10;
	left: 38%;
}

a li {
	text-decoration: none;
	display: inline-block;
	background-color: rgb(156, 117, 202);

}

img {
	height: 150px;
	width: auto;
}

a {
	text-decoration: none;
	color: rgb(0, 8, 63);
}

nav li:hover, nav h1:hover {
	background-color: rgb(64, 23, 111);
	color: white;
}

/* Main Section of the Home page */
#pizza1 {
	width: 100%;
	height:	auto;
	margin: 0;
}

#description {
	position: absolute;
	background-color: white;
	font-style: italic;
	font-size: 2em;
	z-index: 15;
	left: 38%;
	top: 67%;
	padding: .5em;
}

/* Information section on the home page */
#info {
	color: black;
	margin: 0;
	font-size: 1em;
	font-weight: bold;	
}

.info-pane {
	width: 46%;
	height: 200px;
	padding: 2%;
	margin: 0;
	float: left;
	background-color: white;
	font-size: 1.5em;

}

#info p {
	padding-bottom: 1em;
}

#twitter {
	height: 90px;
	width: auto;
}

#menu {
	background-color: white;
}
#info a:hover {
	text-decoration: underline;
}

/* Menu Section of the menu page */
h1 {
	font-size: 4em;
	padding: .5em 0;
}

h2 {
	font-size: 3em;
	padding-bottom: .25em;
}

h3 {
	font-size: 2em;
	padding-bottom: .15em;
}

dt {
	font-weight: bold;
	padding-bottom: .25em;
}

dd, li {
	padding-bottom: .25em;
}

#menu {
	text-align: center;
	padding: 1em;
}

#menu p {
	font-weight: bold;
	padding-bottom: .25em;
}

strong {
	font-style: italic;
	font-size: 2em;
}

/* About us section */
#about {
	background-color: white;
	text-align: left;
	padding: 1em;	
}

#about p {
	padding: 1em;
}

